language: php

php:
  - 7.0

before_script:
  - cp .env.travis .env
  - psql -c "CREATE DATABASE testing;" -U postgres
  - psql -c "CREATE USER foo WITH PASSWORD 'bar';" -U postgres
  - composer self-update
  - composer install --no-interaction

script:
  - vendor/bin/phpunit